body {
    background-color:lightgray;
    text-align:center;
}
div {
background-color:aqua;
    border:2px dotted blue;
width:900px;
margin-left:200px;
height:550x;
padding:5px;
}
header {
text-align:left;
font-size:x-large;
margin-top:20px;
}
section {
text-align:left;
color:blue;
margin-top:30px;
border-spacing:5px;
}
label {
    text-decoration:underline;
border:2px dotted black;
color:blue;
}
h1 {
margin-top:20px;
font-size:larger;
text-align:left;
margin-left:2px;
}
p{
    width:700px;
padding:2px;
text-align:left;
}
nav {
    width:150px;
padding-right:20px;
line-height:20px;
float:right;
height:600px;
}
aside {
width:260px;
float:right;
font-size:120%;
}
footer {
    width:900px;
border-top:2px dotted blue;
height:125px;
}
